@model BehzistiMaskan.Models.ChangePasswordViewModel
@{
    ViewBag.Title = "تغییر رمز عبور";
}

<header class="page-header">
    <h2>@ViewBag.Title</h2>

    <div class="right-wrapper pull-right">
        <ol class="breadcrumbs">
            <li>
                <a href="@Url.Action("Index", "Dashboard")">
                    <i class="fa fa-home"></i>
                </a>
            </li>
            <li>
                <a href="@Url.Action("Index", "ManageUser")">
                    پروفایل کاربر
                </a>
            </li>
            <li>
                <a href="@Url.Action("ChangePassword", "ManageUser")">
                    @ViewBag.Title
                </a>
            </li>
        </ol>
    </div>
</header>

<section class="panel">
    <div class="panel-heading">
        <h4>فرم تغییر رمز عبور کاربر</h4>
    </div>
    @using (Html.BeginForm("ChangePassword", "ManageUser", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()
        <div class="panel-body">
            @Html.ValidationSummary("", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(m => m.OldPassword, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.NewPassword, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                </div>
            </div>
        </div>
        <div class="panel-footer">
            <input type="submit" value="تغییر رمز عبور" class="btn btn-primary" />
        </div>
    }
</section>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}