@using BehzistiMaskan.Core.Utility
@model IEnumerable<BehzistiMaskan.ViewModels.ClientViewModel>
@{
    ViewBag.Title = "لیست مددجویان تایید شده";
    Layout = "~/Views/Shared/_LayoutPorto.cshtml";
    //string message = ViewBag.StatusMessage;
    var status = (Status) ViewBag.Status;
}

<header class="page-header">
    <h2> @ViewBag.Title</h2>

    <div class="right-wrapper pull-right">
        <ol class="breadcrumbs">
            <li>
                <a href="@Url.Action("Index", "Dashboard")">
                    <i class="fa fa-home"></i> میز کار
                </a>
            </li>
            <li><span>@ViewBag.Title</span></li>
        </ol>
    </div>
</header>

<!-- start: page -->
<div class="row" id="page">
    <div class="col-md-12">
        <section class="panel">
            <header class="panel-heading">
                <div class="panel-actions"> <a href="#" class="panel-action panel-action-toggle" data-panel-toggle></a></div>
                <h2 class="panel-title">
                    @ViewBag.Title
                    @if (User.IsInRole(RoleName.KarshenasOstan) || User.IsInRole(RoleName.KarshenasShahrestan))
                    {
                        <a href="@Url.Action("New")" class="btn btn-primary"><i class="fa fa-plus"></i> افزودن مددجوی جدید</a>
                    }
                </h2>
            </header>
            <div class="panel-body">
                <table class="table table-bordered table-striped table-hover mb-none" id="client-list-table">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>نام</th>
                            <th>نام خانوادگی</th>
                            <th>کد ملی</th>
                            <th>شهرستان</th>
                            <th>بخش</th>
                            <th>شهر یا روستا</th>
                            <th>عملیات</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>

            </div>
            <div class="panel-footer">
            </div>
        </section>
    </div>
</div>
<!-- end: page -->


<div id="modalActivationCode" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">نمایش کد رهگیری</h4>
            </div>
            <div class="modal-body text-lg">
                <p>کد رهگیری مددجوی انتخاب شده برابر است با: <b class="text-success" id="activationCode"></b></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">بستن کادر</button>
            </div>
        </div>

    </div>
</div>

<div id="modalClientSummary" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg" style="width: 90%">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">نمایش خلاصه اطلاعات مددجو</h4>
            </div>
            <div class="modal-body text-lg">
                <div class="row mb-lg">
                    <div class="col-md-3"><label class="control-label col-md-4 text-sm">کد ملی:</label><span id="clientNationalCode" class="col-md-8 text-primary"></span></div>
                    <div class="col-md-3"><label class="control-label col-md-4 text-sm">نام:</label><span id="clientName" class="col-md-8 text-primary"></span></div>
                    <div class="col-md-3"><label class="control-label col-md-4 text-sm">نام خانوادگی:</label><span id="clientFamily" class="col-md-8 text-primary"></span></div>
                    <div class="col-md-3"><label class="control-label col-md-4 text-sm">نام پدر:</label><span id="clientFatherName" class="col-md-8 text-primary"></span></div>
                </div>
                <div class="row mb-lg">
                    <div class="col-md-3"><label class="control-label col-md-4 text-sm">وضعیت جسمی:</label><span id="clientBodyType" class="col-md-8 text-primary"></span></div>
                    <div class="col-md-3"><label class="control-label col-md-4 text-sm">جنسیت:</label><span id="clientGenderType" class="col-md-8 text-primary"></span></div>
                    <div class="col-md-3"><label class="control-label col-md-4 text-sm">وضعیت تاهل:</label><span id="clientMarriageType" class="col-md-8 text-primary"></span></div>
                    <div class="col-md-3"><label class="control-label col-md-4 text-sm">تاریخ تولد:</label><span id="clientBirthdate" class="col-md-8 text-primary"></span></div>
                </div>
                <div class="row mb-lg">
                    <div class="col-md-6"><label class="control-label col-md-2 text-sm">نوع مددجو:</label><span id="clientType" class="col-md-10 text-primary"></span></div>
                    <div class="col-md-3"><label class="control-label col-md-4 text-sm">نوع معاونت:</label><span id="clientAssistanceType" class="col-md-8 text-primary"></span></div>
                    <div class="col-md-3"><label class="control-label col-md-4 text-sm">شناسه پیمنت:</label><span id="clientGlobalBehzistiUiCode" class="col-md-8 text-primary"></span></div>
                </div>
                <hr />
                <div class="row">
                    <div class="col-md-2 text-primary text-lg">محل تولد</div>
                    <div class="col-md-2"><label class="control-label col-md-4 text-sm">استان:</label><span id="clientProvinceOfBirth" class="col-md-8 text-primary"></span></div>
                    <div class="col-md-2"><label class="control-label col-md-4 text-sm">شهرستان:</label><span id="clientCountyOfBirth" class="col-md-8 text-primary"></span></div>
                    <div class="col-md-3"><label class="control-label col-md-4 text-sm">بخش:</label><span id="clientDistrictOfBirth" class="col-md-8 text-primary"></span></div>
                    <div class="col-md-3"><label class="control-label col-md-4 text-sm">شهر:</label><span id="clientCityOfBirth" class="col-md-8 text-primary"></span></div>
                </div>
                <hr />

                <div class="row">
                    <div class="col-md-2 text-primary text-lg">وضعیت سکونت</div>
                    <div class="col-md-3"><label class="control-label col-md-4 text-sm">نوع:</label><span id="clientCurrentHousingType" class="col-md-8 text-primary"></span></div>
                    <div class="col-md-7"><label class="control-label col-md-3 text-sm">آدرس مسکن فعلی:</label><span id="clientCurrentHousingAddress" class="col-md-9 text-primary"></span></div>
                </div>
                <hr />
                <div class="row">
                    <div class="col-md-2 text-primary text-lg">مسکن آینده</div>
                    <div class="col-md-3"><label class="control-label col-md-4 text-sm">طرح های انتخاب شده:</label><span id="clientSelectedForms" class="col-md-8 text-primary"></span></div>
                    <div class="col-md-7"><label class="control-label col-md-3 text-sm">آدرس:</label><span id="clientBuildingHouseAddress" class="col-md-9 text-primary"></span></div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">بستن کادر</button>
            </div>
        </div>

    </div>
</div>
@section StyleSheet{
    <link href="~/Assets/vendor/select2/select2.css" rel="stylesheet" />
    <link rel="stylesheet" href="/assets/vendor/jquery-datatables-bs3/assets/css/datatables.css" />
    <link rel="stylesheet" href="~/Assets/vendor/jquery-datatables-bs3/assets/css/dataTables.bootstrap.min.css" />

}

@section Scripts
{
    <script src="~/Assets/vendor/select2/select2.min.js"></script>
    <script src="~/Assets/vendor/jquery-datatables/media/js/jquery.dataTables.js"></script>
    <script src="~/Assets/vendor/jquery-datatables/extras/TableTools/js/dataTables.tableTools.min.js"></script>
    <script src="~/Assets/vendor/jquery-datatables-bs3/assets/js/datatables.js"></script>

    <script src="~/Content/datables-export-plugins/dataTables.buttons.min.js"></script>
    <script src="~/Content/datables-export-plugins/buttons.print.min.js"></script>
    <script src="~/Content/datables-export-plugins/buttons.html5.min.js"></script>
    <script src="~/Content/datables-export-plugins/buttons.flash.min.js"></script>
    <script src="~/Content/datables-export-plugins/jszip.min.js"></script>
    <script src="~/Content/datables-export-plugins/vfs_fonts.js"></script>


    <script type="text/javascript">

        $(document).ready(function () {

            @if (status != null)
                        {
                            switch (status.StatusType)
                            {
                                case ModelEnums.StatusTypeE.Success:
                                    @Html.Raw("ShowNotifyStatus('اطلاعات با موفقیت ذخیره شد', 'success','عملیات موفق','fa fa-check');");
                                    break;
                                case ModelEnums.StatusTypeE.Error:
                        @Html.Raw("ShowNotifyStatus('ذخیره اطلاعات با خطا مواجه شده است!', 'error','عملیات ناموفق','fa fa-times');")
                                    break;
                                case ModelEnums.StatusTypeE.ValidationError:
                        @Html.Raw("ShowNotifyStatus('اطلاعات وارد شده در فرم اشتباه است!', 'error','عملیات ناموفق','fa fa-times');")
                                    break;
                                case ModelEnums.StatusTypeE.YouCannotAccessThisArea:
                        @Html.Raw("ShowNotifyStatus('شما مجوز دسترسی به این قسمت را ندارید!', 'error','دسترسی غیر مجاز','fa fa-times');")
                                    break;
                                case ModelEnums.StatusTypeE.YouCannotEditClient:
                        @Html.Raw("ShowNotifyStatus('شما مجوز ویرایش اطلاعات مددجو را ندارید!', 'error','دسترسی غیر مجاز','fa fa-times');")
                                    break;
                                case ModelEnums.StatusTypeE.DuplicateNationalCode:
                        @Html.Raw("ShowNotifyStatus('فردی با این کد ملی در سامانه ثبت شده است و امکان ثبت فرد جدید با این کد ملی وجود ندارد!', 'error','کد ملی تکراری','fa fa-times');")
                                    break;
                                case ModelEnums.StatusTypeE.RestrictionOnDownloadRequest:
                        @Html.Raw("ShowNotifyStatus('کاربر محترم شما طی چند دقیقه اخیر اقدام به دانلود اطلاعات یک مددجو نموده اید. برای حفظ امنیت سامانه امکان ارسال درخواست دانلود اطلاعات همان مددجو در حال حاضر برای شما وجود ندارد! لطفا دقایقی دیگر اقدام نمایید!', 'error','درخواست دانلود در زمان غیر مجاز','fa fa-times');")
                                    break;
                                default:
                                    break;
                            }
                        }


            $.extend($.fn.dataTableExt.oStdClasses, {
                "sFilterInput": "form-control"
                //,
                //"sLengthSelect": "form-control"
            });

            var oTable = $('#client-list-table').DataTable(
            {
                "oSearch": { "sSearch": "@ViewBag.SearchWord" },
                serverSide: true,
                processing: true,
                "sPaginationType": "bs_normal",
                buttons: [
                    {
                        extend: 'copy',
                        text: '<i class="fa fa-copy"></i> کپی',
                        className: 'btn btn-default text-primary',
                        exportOptions: {
                            columns: [0, 1, 2, 3, 4, 5, 6]
                        }
                    },
                    {
                        extend: 'excelHtml5',
                        text: '<i class="fa fa-file-excel-o"></i> اکسل',
                        className: 'btn btn-default text-success',
                        exportOptions: {
                            //modifier: {
                            //    page: 'current'
                            //},
                            columns: [0, 1, 2, 3, 4, 5, 6]
                        }
                    },
                    {
                        extend: 'print',
                        text: '<i class="fa fa-print"></i> چاپ',
                        className: 'btn btn-default',
                        exportOptions: {
                            columns: [0, 1, 2, 3, 4, 5, 6]
                        }
                    }
                ],
                pageLength: 50,
                lengthMenu: [[10, 25, 50, 100, -1], [10, 25, 50, 100, "All"]],
                dom: "<'row'<'col-sm-4'l><'col-sm-4'B><'col-sm-4'f>rtip>",
                ajax: {
                    url: '/api/clients/clientdatatable',
                    type: 'POST',
                    contentType: 'application/json',
                    data: function (d) {
                        return JSON.stringify(d);
                    }
                },
                columns: [
                    { "data": "Id" },
                    { "data": "Person.Name" },
                    { "data": "Person.Family" },
                    { "data": "Person.NationalCode" },
                    { "data": "CountyName" },
                    { "data": "DistrictName" },
                    { "data": "CityName" },
                    {
                        "data": null,
                        render: function (data, type, row) {
                            var editLnk = "<a class='btn btn-xs btn-default text-primary' href='@Url.Action("EditBasic")" + "/" + row.Id + "'><i class='fa fa-pencil'></i> ویرایش و مشاهده کامل اطلاعات</a>";
                            var viewLnk = "<a class='btn btn-xs btn-default text-info' onclick='javascript: showClientSummary(" + row.Id + ");'><i class='fa fa-eye'></i> خلاصه اطلاعات</a>";
                            var deleteLnk = "<a class='btn btn-xs btn-default text-danger' href='@Url.Action("Delete", "Client")" + "/" + row.Id + "'><i class='fa fa-remove'></i> حذف</a>";

                            var clientUserLnk = "";
                            if (row.HasClientUser) {
                                clientUserLnk = "<a class='btn btn-xs btn-default text-warning' onclick='javascript: changeActivationCode(" + row.Id + ");'><i class='fa fa-exchange'></i> ثبت کد رهگیری جدید</a>";
                                clientUserLnk += " <a class='btn btn-xs btn-default' onclick='javascript:showActivationCode(\"" + row.Person.NationalCode + "\");'><i class='fa fa-eye'></i> نمایش کد رهگیری </a>";


                            } else {
                                clientUserLnk = "<a class='btn btn-xs btn-default text-success' href='@Url.Action("SetClientUserActivationCode")/" + row.Id + "'><i class='fa fa-check-circle'></i> فعال کردن کد رهگیری</a>";
                            }
                            return editLnk + ' ' + viewLnk + ' ' + deleteLnk + ' ' + clientUserLnk;
                        }
                    }
                ],
                createdRow: function(row, data, index) {
                    $('td', row).eq(7).addClass('actions-hover actions-fade'); // 6 is index of column
                },
                language: {
                    url: '/Assets/vendor/jquery-datatables/localization/Persian.json'
                }
            });

            //oTable.buttons().container().appendTo($('.col-sm-6:eq(0)', oTable.table().container() ) );

            oTable.buttons().container()
                .appendTo('#client-list-table_wrapper .col-sm-6:eq(0)');

            //function showClientDetailModal(clientId) {
            //    console.log('showClientDetailModal clientId: ' + clientId);
            //}

            //$(document).on('focus', '.dataTables_filter input', function () {
            //    $(this).unbind().bind('keyup', function (e) {
            //        if (e.keyCode === 13) {
            //            oTable.fnFilter(this.value);
            //        }
            //    });

            //});

        }); // End Document.ready

        function showClientSummary(id) {
            console.log('showClientSummary Start');
            $.ajax({
                type: 'POST',
                url: "/api/clients/clientsummary/" + id,
                success: function (data, textStatus, jqXhr) {
                    console.log(textStatus);
                    console.log(data);

                    $('#modalClientSummary #clientNationalCode').text(data.client.person.nationalCode);
                    $('#modalClientSummary #clientName').text(data.client.person.name);
                    $('#modalClientSummary #clientFamily').text(data.client.person.family);
                    $('#modalClientSummary #clientFatherName').text(data.client.person.fatherName != null ? data.client.person.fatherName : '-');

                    $('#modalClientSummary #clientBodyType').text(data.client.person.isDisabled?"معلول":"سالم");

                    $('#modalClientSummary #clientGenderType').text(data.client.genderTypeStr);
                    $('#modalClientSummary #clientMarriageType').text(data.client.marriageTypeStr);
                    if (data.client.person.birthdate != null) {
                        var d = new Date(data.client.person.birthdate);
                        $('#modalClientSummary #clientBirthdate').text(d.getFullYear() + "/" + d.getMonth() + 1 + "/" + d.getDate());

                    } else {
                        $('#modalClientSummary #clientBirthdate').text('-');

                    }

                    $('#modalClientSummary #clientProvinceOfBirth').text(data.client.person.provinceOfBirthName != null ? data.client.person.provinceOfBirthName : '-');
                    $('#modalClientSummary #clientCountyOfBirth').text(data.client.person.countyOfBirthName != null ? data.client.person.countyOfBirthName : '-');
                    $('#modalClientSummary #clientDistrictOfBirth').text(data.client.person.districtOfBirthName != null ? data.client.person.districtOfBirthName : '-');
                    $('#modalClientSummary #clientCityOfBirth').text(data.client.person.cityOfBirthName != null ? data.client.person.cityOfBirthName : '-');

                    $('#modalClientSummary #clientType').text(data.client.clientTypeStr);
                    $('#modalClientSummary #clientAssistanceType').text(data.client.assistanceTypeStr);
                    $('#modalClientSummary #clientGlobalBehzistiUiCode').text(data.client.globalBehzistiUiCode);

                    $('#modalClientSummary #clientCurrentHousingType').text(data.client.currentHousingTypeStr);
                    $('#modalClientSummary #clientCurrentHousingAddress').text(data.client.currentHouseAddress);

                    $('#modalClientSummary #clientSelectedForms').text(data.client.selectedFormsStr);
                    $('#modalClientSummary #clientBuildingHouseAddress').text(data.client.buildingHouseAddress);


                    $('#modalClientSummary').modal("show");
                },
                error: function (message) {
                    alert('ارتباط با سرور امکان پذیر نمی باشد. در ارتباط با سرور خطایی رخ داده است');
                },
                complete: function () {
                }
            });
        }

        function showActivationCode(nationalCode) {
            $.post("/api/clients/activationcode/" + nationalCode, function (data, status) {
                if (status === "success") {
                    $('#modalActivationCode #activationCode').text(data);
                    $('#modalActivationCode').modal("show");
                }
            });
        }

        function changeActivationCode(id) {
            if (confirm("آیا از تغییر کد رهگیری مددجوی انتخاب شده مطمئن هستید؟")) {
                window.location.href = "@Url.Action("SetClientUserActivationCode")/" + id;
            }
        }
    </script>
}
