@using System.Diagnostics.Eventing.Reader
@using BehzistiMaskan.Core.Utility
@model BehzistiMaskan.ViewModels.EditClientStateViewModel
@{
    ViewBag.Title = "ویرایش اطلاعات - وضعیت پرونده";
    Layout = "~/Views/Shared/_LayoutPorto.cshtml";
    ViewBag.SelectedTabMenu = "EditClientState";
    ViewBag.OnlyRequestExemption = Model.Client.OnlyRequestExemption;
    ViewBag.IsRequestAnyExemption = Model.Client.IsRequestAnyExemption;
}

@Html.Partial("_EditClientHeaderPartial")
<!-- start: page -->
<div class="row" id="page">
    <div class="col-md-12">
        <div class="tabs tabs-primary">
            @Html.Partial("_EditClientTabMenuPartial")

            <div class="tab-content">

                <div id="EditContactInfoTab" class="tab-pane active">
                    @using (Html.BeginForm("SaveClientState", "Client", FormMethod.Post, new { @class = "form form-bordered", @id = "clientEditStateForm" }))
                    {
                        @Html.AntiForgeryToken()
                        @Html.HiddenFor(m => m.NewClientStateTypeE)
                        @Html.HiddenFor(m => m.Client.Id)
                        <div class="row">
                            <div class="col-md-12">
                                @if (!Model.ClientHasCompleteData)
                                {
                                    <div class="alert alert-info">
                                        کارشناس محترم!<br />
                                        ثبت اطلاعات این مددجو تکمیل نشده است و به همین دلیل امکان ارسال اطلاعات پرونده مددجو به کارشناس استان وجود ندارد. <br />
                                        لطفا ابتدا اطلاعات مددجو را تکمیل نمایید.
                                    </div>

                                    <button type="button" class="btn btn-warning" id="btnBackToClientForCompleteData">برگشت به مددجو جهت تکمیل اطلاعات</button>
                                }
                                else
                                {

                                    <div class="row mb-lg">
                                        <div class="col-md-3">
                                            وضعیت فعلی مددجو
                                        </div>
                                        <div class="col-md-3">
                                            @Model.Client.ClientStateStr
                                        </div>
                                    </div>


                                    if (Model.Client.ClientState.ClientStateTypeE == ModelEnums.ClientStateTypeE.InitialClientRegister ||
                                        Model.Client.ClientState.ClientStateTypeE == ModelEnums.ClientStateTypeE.SubmitNewDataByClient ||
                                        Model.Client.ClientState.ClientStateTypeE == ModelEnums.ClientStateTypeE.InWaitingListClientToCompleteData ||
                                        Model.Client.ClientState.ClientStateTypeE == ModelEnums.ClientStateTypeE.DenyBySazmanHamkarShahrestan ||
                                        Model.Client.ClientState.ClientStateTypeE == ModelEnums.ClientStateTypeE.DenyByKarshenasOstan ||
                                        Model.Client.ClientState.ClientStateTypeE == ModelEnums.ClientStateTypeE.InWaitingListKarshenasShahrestan)
                                    {

                                        if (Model.NeedCoOrganizationApprove && Model.Client.ClientState.ClientStateTypeE !=
                                            ModelEnums.ClientStateTypeE.ApproveByAllOfSazmanHamkarShahrestan)
                                        {
                                            <button type="button" class="btn btn-default text-primary" id="btnApproveAndSendToCoOrganization">تایید اطلاعات و ارسال جهت تایید سازمان های همکار شهرستان</button>
                                        }
                                        <button type="button" class="btn btn-default text-primary" id="btnApproveAndSendToKarshenasOstan">تایید اطلاعات و ارسال برای کارشناس استان</button>
                                    }
                                    else if (Model.Client.ClientState.ClientStateTypeE == ModelEnums.ClientStateTypeE.InWaitingListSazmanHamkarShahrestan ||
                                             Model.Client.ClientState.ClientStateTypeE == ModelEnums.ClientStateTypeE.ApproveBySazmanHamkarShahrestan ||
                                             Model.Client.ClientState.ClientStateTypeE == ModelEnums.ClientStateTypeE.ApproveByAllOfSazmanHamkarShahrestan)
                                    {
                                        <button type="button" class="btn btn-default text-primary" id="btnApproveAndSendToKarshenasOstan">تایید آفلاین اطلاعات سازمان های همکار و ارسال برای کارشناس استان</button>
                                    }
                                    else if (Model.Client.ClientState.ClientStateTypeE == ModelEnums.ClientStateTypeE.InWaitingListFormEmtiazBandi)
                                    {

                                        <div class="alert alert-info">
                                            کارشناس محترم!
                                            <br />
                                            مددجو در مرحله تکمیل فرم امتیاز بندی می باشد. با مراجعه به سربرگ فرم امتیاز بندی می توانید فرم را تایید نمایید.
                                        </div>
                                    }


                                    if (Model.Client.ClientState.ClientStateTypeE == ModelEnums.ClientStateTypeE.DenyByKarshenasOstan)
                                    {
                                        <button type="button" class="btn btn-warning" id="btnBackToClientForCompleteData">برگشت به مددجو جهت تکمیل اطلاعات</button>
                                    }
                                }
                            </div>
                        </div>
                    }
                </div>
                <div class="row">
                    <h3>تاریخچه وضعیت های این مددجو</h3>
                    <div class="col-md-12">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>نام وضعیت</th>
                                    <th>تاریخ اعمال وضعیت</th>
                                    <th>توضیحات</th>
                                </tr>
                            </thead>
                            <tbody>
                                @{
                                    var ind = 0;
                                }
                                @foreach (var clientStateLogDto in Model.ClientStateLogs)
                                {
                                    <tr>
                                        <td>@(++ind)</td>
                                        <td>@clientStateLogDto.ClientStateTypeStr</td>
                                        <td>@clientStateLogDto.LogDate.ToString("yyyy/M/d hh:mm:ss")</td>
                                        <td>@clientStateLogDto.Description</td>
                                    </tr>

                                }
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<!-- end: page -->

@section StyleSheet
{
}

@section Scripts
{
    @Scripts.Render("~/bundles/jqueryval")

    <script>

        $(document).ready(function () {
            var clientEditStateForm = $('#clientEditStateForm');
            var btnApproveAndSendToKarshenasOstan = $('#btnApproveAndSendToKarshenasOstan');
            var btnApproveAndSendToCoOrganization = $('#btnApproveAndSendToCoOrganization');
            var btnBackToClientForCompleteData = $('#btnBackToClientForCompleteData');

            var newClientStateTypeE = $('#NewClientStateTypeE');

            btnApproveAndSendToKarshenasOstan.click(function () {
                newClientStateTypeE.val(@((int)ModelEnums.ClientStateTypeE.InWaitingListKarshenasOstan));
                clientEditStateForm.submit();
            });

            btnApproveAndSendToCoOrganization.click(function () {
                newClientStateTypeE.val(@((int)ModelEnums.ClientStateTypeE.InWaitingListSazmanHamkarShahrestan));
                clientEditStateForm.submit();
            });

            btnBackToClientForCompleteData.click(function () {
                newClientStateTypeE.val(@((int)ModelEnums.ClientStateTypeE.InWaitingListClientToCompleteData));
                clientEditStateForm.submit();
            });

        });
    </script>
}
